{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-card">

        <div class="text-center">

            <h2 class="brand">
                FitFusion <span>AI</span>
            </h2>

            <h1 class="auth-title">
                Welcome Back
            </h1>

            <p class="auth-subtitle">
                Your AI Fitness Coach is ready.<br>
                Sign in to continue your journey.
            </p>

        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter your email"
                    required>

            </div>

            <div class="mb-3">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter your password"
                    required>

            </div>

            <div class="options">

                <div>

                    <input type="checkbox">

                    <span>Remember me</span>

                </div>

                <a href="{% url 'forgot_password' %}">
                    Forgot Password?
                </a>

            </div>

            <button type="submit" class="login-btn">

                Login

            </button>

        </form>

        <div class="divider">

            <span>OR</span>

        </div>

        <div class="bottom-text">

            Don't have an account?

            <a href="{% url 'register' %}">

                Create Account

            </a>

        </div>

    </div>

</section>

{% endblock %}