{% extends 'base.html' %}
{% load static %}

{% block title %}Verify Email{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/otp.css' %}">
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-card">

        <div class="text-center">

            <h2 class="brand">
                FitFusion <span>AI</span>
            </h2>

            <h1 class="auth-title">
                Verify Email
            </h1>

            <p class="auth-subtitle">
                We have sent a verification code to
                <br>
                <strong>{{ request.session.email }}</strong>
            </p>

        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" id="otpForm">

            {% csrf_token %}

            <div class="otp-container">

                <input type="text" maxlength="1" class="otp-box">
                <input type="text" maxlength="1" class="otp-box">
                <input type="text" maxlength="1" class="otp-box">
                <input type="text" maxlength="1" class="otp-box">
                <input type="text" maxlength="1" class="otp-box">
                <input type="text" maxlength="1" class="otp-box">

            </div>

            <input
                type="hidden"
                name="otp"
                id="otpValue">

           <button type="submit" class="btn-register">
    Verify Email
</button>

        </form>

        <div class="otp-footer">

            <p id="timerText">

                Resend OTP in
                <span id="countdown">60</span>s

            </p>

           <a href="javascript:void(0)"
                 id="resendLink">
                Resend OTP

            </a>

        </div>

    </div>

</section>

<script src="{% static 'js/otp.js' %}"></script>

{% endblock %}