.hero-section{
    min-height: 100vh;
    display: flex;
    align-items: center;

    padding-top: 70px;
    padding-bottom: 50px;

    background: #000;

    margin-bottom: 0;
}

.hero-tag{

    color:#22C55E;

    font-size:18px;

    font-weight:600;

}

.hero-title{

    font-size:5rem;

    font-weight:650;

    margin-top:20px;

    line-height:1.2;

    line-height: 1.05;

}

@media(max-width:992px){

.hero-title{

font-size:52px;

}

}

.hero-title span{

    color:#22C55E;

}

.hero-text{

    max-width:580px;

    font-size:21px;

    line-height:1.9;

}

.hero-image{

    width:100%;

    max-width:700px;

    height:auto;

    object-fit:contain;

    animation:float 5s ease-in-out infinite;

    margin-top: -25px;

}

.hero-right{

    display:flex;

    justify-content:flex-start;

    align-items:center;

    position:relative;

     margin-left:-1px;
}

.hero-right::before{

    content:"";

    position:absolute;

    width:650px;

    height:650px;

    background:#22C55E;

    border-radius:50%;

    filter:blur(160px);

    opacity:.28;

    z-index:0;

}

.scroll-down i{

    font-size:32px;

    color:#22C55E;

    animation:bounce 2s infinite;

}

@keyframes bounce{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(10px);
}

}
@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}