*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#08111F;

    color:#F8FAFC;

    overflow-x:hidden;

}

:root{

    --primary:#22C55E;

    --dark:#08111F;

    --card:#162032;

    --text:#F8FAFC;

    --secondary:#94A3B8;

}

section{

    padding:90px 0;

}

a{

    text-decoration:none;

}